<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="_fragmentos::headerInicial(${pagina.titulo()})">
</head>

<body>

	<!-- cabecera -->
	<th:block th:include="_fragmentos::header"></th:block>
	
	<div class="container-fluid">

		<th:block th:include="_componentes :: lista-componentes(${pagina.componentes()},true)"></th:block>

		<div style="border-top: 1px dotted rgb(225,225,225); color: rgb(225,225,225); pagging-top:10px;">
			<div class="text-right" style="padding-right:20px;">
				<span class="small">versi&oacute;n: ${project.version}-${timestamp}</span>
			</div>
		</div>

	</div>
	
	<!-- Los scripts siempre al final -->
	<th:block th:include="_fragmentos::pieScript"></th:block>
	
</body>

</html>
